@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #ecc1e9;
  --background: #000000;
}

.root-mode {
  --text: #ecc1e9;
  --background: #000000;
}

.angel-mode {
  --text: #eca5e7;
  --background: #ffffff;
}

.void-mode {
  --text: #00d712;
  --background: #000000;
}

body {
  background: var(--background);
  color: var(--text);
  transition: backgound 0.3s ease, color 0.3s ease;
}

.ascii {
  font-family: monospace;
  line-height: 1;
  white-space: pre;
  overflow-x: auto;
  text-align: center;
}
